
.navbar{
  background-color: #ff6b4e; 
}

nav.navbar{
  padding: 0px;
}
@media only screen and (min-width: 769px) {
  .nav-item:hover{
    background-color: #001011;
  }
}
.nav-item{
  text-align: center;
}
.lapimage{
  background: linear-gradient(rgba(0, 0, 0, 0.396),rgba(0, 0, 0, 0.516)),url('./Images/pexels-caio-67112.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  background-size: cover;
}

@media only screen and (min-width:376px ) {
  .lapimage{
    height: 80vh;
  }
}
@media only screen and (min-width:769px ) {
  .lapimage{
    height: 120vh;
  }
}
.web{
  font-size: 56px;
  color: white;
  font-style:oblique;
  font-weight: 600;
  text-shadow: 2px 2px black;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.quote{
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-style:oblique;
  font-weight: 600;
  text-shadow: 1px 1px rgb(255, 0, 0);
  letter-spacing: 2px;
  word-spacing: 5px;
}

@media screen and (max-width:375px) {
  .web{
    font-size: 30px;
    
  }
  .quote{
    font-size: 16px;
  }
}
.besant{
  text-decoration: none;
  font-weight: 500;
}
.about{
  background-color: rgb(227, 227, 227);
  border: 4px solid #ff6b4e;

}
.portfolio{
  background-color: bisque;
  border: 4px solid #ff6b4e;
  border-top: none
}
.git{
  text-decoration: none;
  color: rgb(67, 67, 255);
}
.git:hover{
  color: red;
}
.ul li {
  list-style: none;
  position: relative;
  padding: 3px 0 2px 25px;
}

.ul li::before {
  content: '*';
  position: absolute;
  top: 6px;
  left: 0;
}
.ul li a{
  text-decoration: none;
  color: brown;
}
.ul li a:hover{
  color: rgb(126, 143, 255);
}
.contact{
  background-color: rgb(227, 227, 227);
  border: 4px solid #ff6b4e;
  border-top: none
}
.whatsapp:hover{
  color: green;
}
.footer{
  background-color: #ff6b4e;
  height: 5vh;
}